/* =============== */
/* -- Variables -- */
/* =============== */

$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$ewuRed: #A10022;
$sidebarColor: #1A1E25;

$break-phone: 420px !default;
$break-tablet: 991px !default;
$break-desktop: 1200px !default;

$sidebar: true; //Set the .main-container class to col-md-12 when set to false (in HTML file)


/* ========================== */
/* ---- Mixins(functions) --- */
/* ========================== */

@mixin sidebar() {
   @if $sidebar == true {
       @extend %sidebarStyle;
   }
   @else {
       & { display: none; }
   }
}

@mixin breakpoint($type, $fallback:false, $parent:true) {

  @if $type == phone {
    @media (max-width: $break-phone) {
      @content;
    }
  }

  @if $type == tablet {
    @media (max-width: $break-tablet) {
      @content;
    }
  } 

  @if $type == desktop {
    @media (min-width: $break-desktop) {
      @content;
    }
  }

  @if $fallback {
    @if $parent {
      .#{$fallback} & {
        @content;
      }
    } @else {
      .#{$fallback} {
        @content;
      }
    }
  }
}

/* ============= */
/* -- Imports -- */
/* ============= */

@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'scss/font-awesome';
@import 'scss/animate';

/* ================= */
/* -- Base Styles -- */
/* ================= */

body, html { height: 100%;}

table { 
    border: 1px solid #DDDDDD;
    
    tr { position: relative; }
    td {
        text-align: center;

        input[type*=checkbox] { 
            padding: 0px !important; 
            margin: 0px !important; 
            width: 12px !important;
        }
    }
}

/* =================== */
/* -- Layout Styles -- */
/* =================== */

.main-container {
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #F6F6F6;
    
    header {
        height: 81px;
        background: #FFF;
        padding: 2px;
        margin: 0px;
        border-bottom: 1px solid #ebebeb;

        h1 {
            font-family: helvetica;
            color: #666;
            font-size: 42px;
            font-weight: 100;
            text-transform: uppercase;
            margin-left: 20px;

            b { color: #333; }
        }   
    }

    .table-wrapper {
        width: 95%;
        background: #FFF;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        padding: 0px;
        margin: 20px 2.5% 20px 2.5%;

        .table-title {
            width: 100%;
            color: #FFF;
            background: $ewuRed;
            border-bottom: 1px solid #e2e2e2;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            padding: 5px;

            h4 {
                margin: 0px !important;
                padding: 2px 0px 2px 0px !important;
                font-weight: 400;
                font-size: 18px;
                font-family: helvetica;
            }
        }

        .table-content { padding: 10px; }
    }
}

%sidebarStyle {
    & {
       height: 100%;
       padding: 0px;
       margin: 0px;
       background: $sidebarColor;

       .mobile-menu {
            height: 81px;
            background: $ewuRed;
            color: #FFF;
            border-right: 1px solid #740018;
            border-bottom: 1px solid rgba(116, 0, 24, 0.64);
            margin: 0px;
            padding: 0px;

            img {
                width: 65px;
                height: 65px;
                margin: 0px auto;
                padding-top: 10px;
                display: block;
            }
        }

        .icon-menu {
            width: 100%;
            list-style-type: none;
            font-size: 30px;
            margin: 0px auto;
            padding: 0px;
            text-align: center;

            .active {
                background: lighten($sidebarColor, 90%);
                background-image: url("../images/arrow.png");
                background-repeat: no-repeat;
                background-position: right center;
                border-left: 3px solid $ewuRed;

               a { color: #222; transition: all 0.3s; }
               span {  color: #222; }

            }
            .active:hover { 
                background: lighten($sidebarColor, 98%);
                background-image: url("../images/arrow.png");
                background-repeat: no-repeat;
                background-position: right center;

                a { color: #222; }
                span {  color: #222; }

            } 

            li { 
                width: 100%;
                padding: 10px 0px 10px 0px;
                cursor: pointer;
                transition: all 0.4s; 
                background-position: right center;
                background: #21262f;
                border-bottom: 1px solid #2d3440;
            }

            li:hover { 
                background: lighten($sidebarColor, 10%);
                background-position: right center;

                span { color: #FFF; }
            }

            a { 
                width: 100%; 
                height: 50px;
                color: #FFF;  
            }
            a:hover { text-decoration: none; }

            span {
                width: 100%;
                display: block;
                font-size: 12px;
                margin: 0px;
                padding: 5px;
                color: #FFF;
            }

            i {
                width: 40px;
                height: 100%;
            }   
        }
   }   
}

.menu-container {
    @include sidebar();
}

/* Mobile */

#mobile-nav {
    display: none; 
    height: 100%;
    width: 50px;
    background: $ewuRed;
    float: right;
    cursor: pointer; 

    >span { top: 22px; }

    >span, >span:after, >span:before {
       width: 30px;
       height: 3px;
       display: block;
       position: relative;
       background: #FFF;
       margin: 0px auto;
       padding: 0px;
       transition: all 0.4s;
    }

    >span:after, >span:before { content: ""; }
    >span:before { top: -10px; }
    >span:after { top: 7px; }
}
    
    

/* ================== */
/* -- Loader Stuff -- */
/* ================== */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 4px;
  background: #29d;

  -webkit-transition: -webkit-transform .3s, width 1s;
  -moz-transition: width 1s;
  -o-transform: width 1s;
  transition: transform .3s, width 1s;

  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);

  pointer-events: none;
}

.pace.pace-active .pace-progress {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


/* =================== */
/* -- Media Queries -- */
/* =================== */

@include breakpoint(tablet) {
    .menu-container {
        max-height: 50px;
        overflow: hidden;
        transition: all 0.3s;
        
        .mobile-menu {
            height: 50px; 
            
            img {
                width: 45px;
                height: 40px;
                padding-top: 0px;
                margin: 3px 0px 0px 10px;
                float: left;
            }
        }

        .icon-menu {
            height: 1px;
            transition: height 0.3s;
            
            li:nth-child(2n+1) { transform: perspective(400px) rotateX(90deg); }
            li:nth-child(2n) { transform: perspective(100px) rotateX(-90deg); }
        }
        
         #mobile-nav { display: inline-block !important; }
    }
    
    .active {
        max-height: 5000px;
        
        .icon-menu {
            height: 100%;
            
            li:nth-child(2n) { transform: perspective(0px) rotateX(0deg); }
            li:nth-child(2n+1) { transform: perspective(0px) rotateX(0deg); }
        }
        
        #mobile-nav {
            span { background: transparent !important; }
            span:before {
                top: 0 !important;
                transform: rotate(45deg) !important;
                -webkit-transform: rotate(45deg) !important;
            }

            span:after {
                top: -3px !important;
                transform: rotate(-45deg) !important;
                -webkit-transform: rotate(-45deg) !important;
            }  
        }
    }
}