#main-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 81px;
  bottom: 0;
  overflow: auto; }

.table-content {
  height: 100%; }

.listing td, .listing th {
  text-align: left; }

.filter-set .filter-group, .filter-set .filter-toggles {
  margin-top: 5px;
  margin-bottom: 5px; }
  .filter-set .filter-group .btn:hover, .filter-set .filter-toggles .btn:hover {
    background: #bcbcbc; }
.filter-set .filter-group.active .btn {
  background: #333333;
  border: #656565;
  color: white; }

.page-location {
  text-align: center; }

.header-btn {
  display: inline-block;
  float: right;
  margin: -5px;
  background: #428bca;
  height: 100%;
  padding: 5px;
  border-top-right-radius: 3px;
  cursor: pointer; }

.header-btn:hover {
  background: #3276b1; }

.table-title h4 {
  display: inline-block; }

.modal-error {
  width: 100%;
  color: #fff;
  padding: 10px;
  background: #ec971f;
  border: 1px solid #ec971f;
  margin-bottom: 10px; }

#password .input-group-addon {
  min-width: 75px;
  text-align: right; }
