$dark: #333333;
$ewuRed: #A10022;



#main-content{
	position:absolute;
	left: 0;
	right: 0;
	top: 81px;
	bottom: 0;
	overflow: auto;
}


.table-content{
	height: 100%;
}
.listing{
	td, th{
		text-align: left;
	}
}


.filter-set{
	.filter-group, .filter-toggles{
		margin-top: 5px;
		margin-bottom: 5px;
		.btn:hover{
			background: #eeeeee - 50;
		}
	}

	.filter-group.active{
		.btn{
			background: $dark;
			border: $dark + 50;
			color: white;
		}
	}
}

.page-location{
	text-align: center;
}

.header-btn{
	display: inline-block;
	float:right;
	margin: -5px; //Making it line-up with the header since it has padding
	background: #428bca;
	height: 100%;
	padding: 5px;
	border-top-right-radius: 3px;
	cursor: pointer;
}
.header-btn:hover{
	background: #3276b1;
}

.table-title{
	h4{
		display: inline-block;
	}
}

.modal-error{
	width: 100%;
	color: #fff;
	padding: 10px;
	background: #ec971f;
	border: 1px solid #ec971f;
	margin-bottom: 10px;
}

#password{
	.input-group-addon{
		min-width: 75px;
		text-align: right;
	}
}